<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="/css/styles.css">  
 
   <title>Lista de Cadastros</title>
</head>
<body>
  <div class="container fosco">
    <h1>Lista de Cadastros</h1>
    <table>
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Responsável</th>
          <th>Telefone</th>
          <th>Escola</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% cadastros.forEach(c => { %>
          <tr>
            <td><%= c.aluno %></td>
            <td><%= c.responsavel %></td>
            <td><%= c.telefone %></td>
            <td><%= c.escola %></td>
            <td>
              <div class="acoes fosco">
                <a class="btn" href="/contrato/<%= c._id %>">Contrato</a>
                <a class="btn" href="/editar/<%= c._id %>">Editar</a>
                <form action="/excluir/<%= c._id %>" method="POST">
                  <button class="btn excluir" type="submit" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                </form>
              </div>
            </td>
            
            
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
<a href="/home" class="btn-voltar">← Voltar</a>

</html>
